@charset "utf-8";

// Update Bulma's global variables
$success: hsl(271, 100%, 60%);
$widescreen-enabled: false;
$fullhd-enabled: false;

body {
  background-image: url("../images/background.jpeg");
  height: 100vh;
  background-size: cover;
}

.total-card {
  max-width: 600px;
}

@import "../bulma/bulma.sass";
